<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>Muokkaa Tapahtumaa</title>
</head>
<body>
    <h1>Muokkaa Tapahtumaa</h1>

    <form method="POST">
        <label for="title">Tapahtuman Nimi</label>
        <input type="text" id="title" name="title" value="{{ event.title }}" required><br><br>

        <label for="description">Kuvaus</label>
        <textarea id="description" name="description" required>{{ event.description }}</textarea><br><br>

        <label for="event-start">Alkamisaika</label>
        <input type="datetime-local" id="event-start" name="event-start" value="{{ event.event_start }}" required><br><br>

        <label for="event-end">Päättymisaika</label>
        <input type="datetime-local" id="event-end" name="event-end" value="{{ event.event_end }}" required><br><br>

        <label for="event-space">Tapahtumapaikka</label>
        <select name="event-space" id="event-space">
            <option value="space1" {% if event.event_space == "space1" %}selected{% endif %}>Auditorio</option>
            <option value="space2" {% if event.event_space == "space2" %}selected{% endif %}>Päälava</option>
            <option value="space3" {% if event.event_space == "space3" %}selected{% endif %}>Kellari</option>
        </select><br><br>

        <label for="event-type">Tapahtuman Tyyppi</label>
        <select name="event-type" id="event-type">
            <option value="yksityistilaisuus" {% if event.event_type|lower == "yksityistilaisuus" %}selected{% endif %}>Yksityistilaisuus</option>
            <option value="koulutus" {% if event.event_type|lower == "koulutus" %}selected{% endif %}>Koulutus</option>
            <option value="kokous" {% if event.event_type|lower == "kokous" %}selected{% endif %}>Kokous</option>
            <option value="juhla" {% if event.event_type|lower == "juhla" %}selected{% endif %}>Juhla</option>
            <option value="muu" {% if event.event_type|lower == "muu" %}selected{% endif %}>Muu</option>
        </select>
        <br><br>

        <button type="submit">Tallenna Muutokset</button>
    </form>

    <br><br>
    <a href="/my_events">Peruuta</a>
</body>
</html>
